<launch>

<arg name="pasta" default="Scanner_space"/>

<!--Lancar no do driver camera USB-->
<node name="camera" pkg="cv_camera" type="cv_camera_node" output="screen">
    <param name="cv_cap_prop_frame_width"  value="1920"/>
    <param name="cv_cap_prop_frame_height" value="1080"/>
    <param name="rescale_camera_info"      value="true"/>
</node>

<!--Lancar scanner propriamente dito, online-->
<node name="scanner_space" pkg="pepo_space" type="scanner_space" output="screen">
    <param name="pasta" value="$(arg pasta)"/>
</node>

<!--Lancar no de comunicacao para enviar ao desktop-->
<node name="encaminha_dados_desktop" pkg="communication" type="encaminha_dados_desktop" output="screen">
</node>

<!--Lancar no do rosbridge para comunicacao com o app mobile-->
<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
</include>

</launch>
