<launch>

<arg name="visualizar" default="false"/>
<arg name="pasta" default="Scanner_space"/>
<arg name="step"       default="35"/>
<arg name="qual"       default="2"/>

<!--Lancar no do driver camera USB-->
<include file="$(find cv_camera)/launch/calibrar_camera.launch">
    <arg name="iniciar_servos" value="false"/>
</include>

<!--Lancar no do driver do laser-->
<include file="$(find livox_ros_driver)/launch/livox_lidar.launch"/>

<!--Lancar os servos dynamixel-->
<!--<include file="$(find dynamixel_workbench_controllers)/launch/multi_port_cap.launch">-->
<!--</include>-->

<!--Lancar no do GPS-->
<node name="gps_node" pkg="gps_uart" type="gps.py"/>

<!--Lancar scanner propriamente dito, online, edge-->
<node name="scanner_space" pkg="pepo_space" type="scanner_space" output="screen">
    <param name="pasta" value="$(arg pasta)"/>
    <param name="step"       value="$(arg step)"/>
    <param name="qualidade"  value="$(arg qual)"/>
</node>

<node name="acc_space_node" pkg="fog" type="acc_space_node" output="screen">
    <param name="pasta" value="$(arg pasta)"/>
</node>

<!--Lancar RViz com configuracao salva-->
<group if="$(arg visualizar)">
    <node name="rviz_pepo" pkg="rviz" type="rviz" args=" -d $(find laser_camera)/resources/aquisicao.rviz" output="screen">
    </node>
</group>

</launch>
