<launch>
    <arg name="bag" default="record_fog"/>
    <arg name="robot" default="1"/>
    <node pkg="rosbag" type="play" name="rosbag_play" output="screen" args=" /home/$(env USER)/Desktop/$(arg bag).bag --clock /cloud_space:=/cloud_space$(arg robot) /angle_space:=/angle_space$(arg robot) /image_user:=/image_user$(arg robot)"/>
</launch>
