<launch>

<!--Lancar no do driver camera USB-->
<node name="camera_calibrar" pkg="cv_camera" type="cv_camera_node" output="screen">
    <param name="cv_cap_prop_frame_width"  value="1920"/>
    <param name="cv_cap_prop_frame_height" value="1080"/>
    <param name="rescale_camera_info"      value="true"/>
</node>

<!--Lancar no de comunicacao para enviar ao desktop-->
<node name="encaminha_dados_app" pkg="communication" type="encaminha_dados_desktop" output="screen">
</node>

</launch>
